<main #main>
        <!-- Slot A -->
        <div data-swapy-slot="a">
                <!-- Item A -->
                <div data-swapy-item="a">
                        <div>A</div>
                </div>
        </div>

        <!-- Slot B -->
        <div data-swapy-slot="b">
                <!-- Item B -->
                <div data-swapy-item="b">
                        <div>B</div>
                </div>
        </div>

        <!-- Slot C -->
        <div data-swapy-slot="c">
                <!-- Item C -->
                <div data-swapy-item="c">
                        <div>C</div>
                </div>
        </div>
        <componente-2/>
</main>
